{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>Stalking {{game.name}}</h1>

        <h2>Overview</h2>

        <div class="row">
            <div class="col-xs-4">
                <div class="list-group">
                    <div class="list-group-item">
                        Score limit: {{game.scoreLimit}}
                    </div>
                    <div class="list-group-item">
                        Player limit: {{game.playerLimit}}
                    </div>
                    <div class="list-group-item">
                        Round time: {{game.roundTimeLimit}}
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="list-group">
                    <div class="list-group-item">
                        Password:
                        {{#if game.password}}
                            {{game.password}}
                        {{else}}
                            <small>(not set)</small>
                        {{/if}}
                    </div>
                    <div class="list-group-item">
                        Hidden:
                        {{#if game.hidden}}
                            yes
                        {{else}}
                            no
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <h2>Decks</h2>
        <div class="row">
            <div class="col-xs-4">
                <h3>Base sets</h3>
                <ul>
                    {{#each game.sets}}
                        <li>
                            <a href="/info/cards?set={{id}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div class="col-xs-4">
                <h3>Expansions</h3>
                <ul>
                    {{#each game.expansions}}
                        <li>
                            <a href="/info/cards?expansion={{id}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <h2 id="players">Players</h2>
        <ul>
            {{#each game.players}}
                <li>
                    <a href="/admin/user/{{user.id}}">
                        {{user.name}}
                    </a>
                    {{#ifCond game.state '==' GameState.PLAYING}}
                        - {{score}} points
                        {{#ifCond ../../game.czar '==' this}}
                            - czar
                        {{/ifCond}}
                    {{/ifCond}}
                    {{#ifCond ../game.host '==' user}}
                        - host
                    {{/ifCond}}
                </li>
            {{/each}}
        </ul>

        <h2 id="state">State (round {{game.round}})</h2>
        {{#ifCond game.state '==' GameState.LOBBY}}
            (in lobby)
        {{/ifCond}}
        {{#ifCond game.state '==' GameState.ENDED}}
            (ended)
        {{/ifCond}}
        {{#ifCond game.state '==' GameState.PLAYING}}
            {{#if game.blackCard}}
                <div class="card black-card">
                    <span>{{{game.blackCard.text}}}</span>

                    {{>watermarkIcon}}
                    <div class="watermark">{{game.blackCard.watermark}}</div>
                </div>
            {{/if}}
        {{/ifCond}}

        <h2>hax</h2>
        <ul>
            <li>change settings</li>
            <li>reset</li>
            <li>change host</li>
        </ul>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
            });
        </script>
    {{/append}}

    {{#replace 'globalChat'}}{{/replace}}
    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
