{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        {{#if prey}}
            <h1>Stalking {{prey.name}}</h1>
        {{else}}
            <h1>Stalking {{preyDB.name}}</h1>
        {{/if}}

        <h2>Overview</h2>

        <div class="row">
            {{#if prey}}
                <div class="col-xs-6">
                    <div class="list-group">
                        <div class="list-group-item">
                            IP: {{prey.clientData.ip}}
                        </div>
                        <div class="list-group-item">
                            User-Agent: {{prey.clientData.userAgent}}
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#if preyDB}}
                <div class="col-xs-6">
                    <div class="list-group">
                        <div class="list-group-item">
                            {{#unless preyDB.allow_emails}}
                            <s>
                            {{/unless}}
                            Email: {{preyDB.email}}
                            {{#unless preyDB.allow_emails}}
                            </s>
                            {{/unless}}
                        </div>
                        <div class="list-group-item">
                            Registered: {{preyDB.date_registered}}
                        </div>
                        <div class="list-group-item">
                            Last login: {{preyDB.last_login}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

        <h2>Games</h2>
        {{#if games}}
            <ul>
                {{#each games}}
                    <li>
                        <a href="/admin/game/{{id}}">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <div class="alert alert-info">
                User is not playing
            </div>
        {{/if}}

        <h2>Actions</h2>
        <div class="row">
            <div class="col-xs-2">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="input-group">
                            <input type="text" data-bind="value: banReason, disable: busy" class="form-control"
                                   placeholder="Ban reason">
                            <span class="input-group-btn">
                                <button data-bind="click: banUser, disable: busy" class="btn btn-danger">Ban</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="input-group">
                            <input type="text" data-bind="value: changedName, disable: busy" class="form-control"
                                   placeholder="New name">
                            <span class="input-group-btn">
                                <button data-bind="click: changeUserName, disable: busy" class="btn btn-default">Change</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
                viewModel = new AdminUserViewModel({{prey.id}});

                ko.applyBindings(viewModel);
            });
        </script>
    {{/append}}

    {{#replace 'globalChat'}}{{/replace}}
    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
