<!DOCTYPE html>
<html>
<head>
    {{#block 'head'}}
        <title>Cards Against Equestria</title>
    {{/block}}

    {{> derp2}}

    <link rel="stylesheet" type="text/css" href="/styles/{{theme}}.css"/>
</head>
<body>

<div id="content-wrap">

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Cards Against Equestria
                <small>{{version}}</small>
            </a>
        </div>

        <div>
            {{#if user}}
                <ul class="nav navbar-nav">
                    {{#block 'navLeft'}}
                        <li>
                            <a href="/games">Join</a>
                        </li>

                        <li>
                            <a href="/game/create">Create</a>
                        </li>
                    {{/block}}
                </ul>
            {{/if}}

            <ul class="nav navbar-nav navbar-right">
                {{#block 'navRight'}}
                    <li class="dropdown">
                        {{#if user}}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{user.name}}
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                {{#if user.registered}}
                                    <li>
                                        <a href="#">Settings</a>
                                    </li>
                                {{/if}}

                                {{#unless user.registered}}
                                    <li class="disabled">
                                        <a href="#">
                                            Register
                                            <small>(Coming soon!)</small>
                                        </a>
                                    </li>
                                {{/unless}}

                                <li class="divider"></li>

                                {{#each themes}}
                                    <li{{#ifCond id '==' ../theme}} class="active"{{/ifCond}}>
                                        <a href="#" onclick="switchTheme('{{id}}')">
                                            Theme: {{name}}
                                        </a>
                                    </li>
                                {{/each}}

                                <li class="divider"></li>

                                <li>
                                    <a href="/user/logout" onclick="{{#block 'logoutOnclick'}}{{/block}}">
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        {{else}}
                            <a href="/">
                                Log in
                            </a>
                        {{/if}}
                    </li>
                {{/block}}
            </ul>
        </div>
    </div>

    <div class="container">

        <!--[if lt IE 8]>
        <div class="alert alert-danger">
            You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </div>
        <![endif]-->

        {{#each success}}
            <div class="alert alert-success">
                {{this}}
            </div>
        {{/each}}

        {{#each info}}
            <div class="alert alert-info">
                {{this}}
            </div>
        {{/each}}

        {{#each warning}}
            <div class="alert alert-warning">
                {{this}}
            </div>
        {{/each}}

        {{#each error}}
            <div class="alert alert-danger">
                {{this}}
            </div>
        {{/each}}

        {{#block 'content'}}
        {{/block}}

    </div>

</div>

{{#block 'defer'}}
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/vendors.min.js"></script>

    <script src="/js/cae{{minIfProduction}}.js"></script>
{{/block}}

</body>
</html>
