<!DOCTYPE html>
<html>
<head>
    {{#block 'head'}}
        {{#if title}}
            <title>{{title}} - Cards Against Equestria</title>
        {{else}}
            <title>Cards Against Equestria</title>
        {{/if}}
    {{/block}}

    {{> derp2}}

    {{#if useAnalytics}}
        {{> util/analytics}}
    {{/if}}

    <link rel="stylesheet" type="text/css" href="/styles/{{theme}}.css"/>
</head>
<body>

<div id="content-wrap">

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Cards Against Equestria
                <small>{{version}}</small>
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                {{#block 'navLeft'}}
                    <li>
                        <a href="/games">
                            <span class="glyphicon glyphicon-ok"></span>
                            Play!
                        </a>
                    </li>

                    {{#if user}}
                        <li>
                            <a href="/game/create">
                                <span class="glyphicon glyphicon-plus"></span>
                                Create
                            </a>
                        </li>
                    {{/if}}
                {{/block}}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{#block 'navRight'}}
                    {{#if user}}
                        {{#unless user.registered}}
                            <li>
                                <p class="navbar-text">
                                    Register your name or change the theme
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </p>
                            </li>
                        {{/unless}}

                        {{#if user.admin}}
                            <li>
                                <a href="/admin">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    Administration
                                </a>
                            </li>
                        {{/if}}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th-list"></span>
                                {{user.name}}
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                {{#if user.registered}}
                                    <li class="disabled">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                            Settings
                                            <small>(Coming soon!)</small>
                                        </a>
                                    </li>
                                {{/if}}

                                {{#unless user.registered}}
                                    <li>
                                        <a href="/user/register">
                                            <span class="glyphicon glyphicon-log-in"></span>
                                            Register
                                        </a>
                                    </li>
                                {{/unless}}

                                <li class="divider"></li>

                                {{#each themes}}
                                    <li{{#ifCond id '==' ../theme}} class="active"{{/ifCond}}>
                                        <a href="#" onclick="switchTheme('{{id}}')">
                                            Theme: {{name}}
                                        </a>
                                    </li>
                                {{/each}}

                                <li class="divider"></li>

                                {{!--<li>--}}
                                    {{!--<a href="#" onclick="toggleNotifications(); return false">--}}
                                        {{!--<label class="checkbox inline">--}}
                                            {{!--Chat notifications--}}
                                            {{!--<input type="checkbox" id="notifications-checkbox">--}}
                                        {{!--</label>--}}
                                    {{!--</a>--}}
                                {{!--</li>--}}

                                {{!--<li class="divider"></li>--}}

                                <li>
                                    <a href="/user/logout" onclick="{{#block 'logoutOnclick'}}{{/block}}">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {{else}}
                        <li>
                            <a href="/">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Log in
                            </a>
                        </li>
                    {{/if}}
                {{/block}}
            </ul>
        </div>
    </div>

    <div class="container">

        {{> cookieNotice}}

        <!--[if lt IE 8]>
        <div class="alert alert-danger">
            You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </div>
        <![endif]-->

        {{#each success}}
            <div class="alert alert-success">
                {{{this}}}
            </div>
        {{/each}}

        {{#each info}}
            <div class="alert alert-info">
                {{{this}}}
            </div>
        {{/each}}

        {{#each warning}}
            <div class="alert alert-warning">
                {{{this}}}
            </div>
        {{/each}}

        {{#each error}}
            <div class="alert alert-danger">
                {{{this}}}
            </div>
        {{/each}}

        {{#block 'content'}}
            This page appears to be empty...
        {{/block}}

    </div>

</div>

<div id="footer">
    <div class="container">
        {{#block 'globalChat'}}
            {{#if user}}
                <div id="chat-global">
                    {{>globalChat}}
                </div>
                <script>
                    window.document.getElementsByTagName('body')[0].classList.add('global-chat-visible');
                </script>
            {{/if}}
        {{/block}}
    </div>

    <div class="container links">
        {{#block 'footer'}}
            <a href="/info/about">About</a>
            |
            <a href="/info/license">Licenses</a>
            |
            <a href="/info/contact">Contact</a>
            |
            <a href="https://github.com/Rylius/CardsAgainstEquestria">
                GitHub
            </a>
        {{/block}}
    </div>
</div>

{{#block 'defer'}}
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/vendors.min.js"></script>

    <script src="/js/cae{{minIfProduction}}.js"></script>
{{/block}}

{{#block 'initGlobalChat'}}
    {{#if user}}
        <script>
            $(function () {
                $.ajaxSetup({cache: false});

                $(window).bind('beforeunload', function () {
                    interruptChatListen();
                });

                var $globalChat = $('#chat-global');
                var chat = initChat({
                    id: {{user.id}},
                    name: '{{user.name}}'
                }, $globalChat.find('> .history'), $globalChat.find('input[type="text"]'));
                ko.applyBindings(chat);
            });
        </script>
    {{/if}}
{{/block}}

<script>
    if (!$.cookie('cookieNoticeRead')) {
        $('#cookie-notice').show();
    }
//    if ($.cookie('notifications')) {
//        toggleNotifications();
//    }
</script>

</body>
</html>
