{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <noscript>
            <h2 class="has-error">
                JavaScript required
            </h2>

            <p class="has-error">
                JavaScript has to be enabled to play this game.
            </p>
        </noscript>

        {{#unless user}}
            <h2>Login</h2>

            <p>
                You will not be able to play without logging in.<br/>
                Logging in is free and painless - just select a name!
                <br/>
                <strong>A password is only required if you registered your name.</strong>
            </p>

            <form autocomplete="on" method="post" id="login" action="/user/login" class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>

                <input type="hidden" id="redirect" name="redirect" value="{{{loginRedirect}}}">

                <input type="submit" value="Login">
            </form>
        {{/unless}}

        {{#if user}}
            <a href="/game/create">
                <h2 class="button-play">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Host
                </h2>
            </a>

            <a href="/games">
                <h2 class="button-play">
                    <i class="glyphicon glyphicon-ok"></i>&nbsp;Play
                </h2>
            </a>
        {{/if}}

        <h2>Changes</h2>
        {{#each changes}}
            <h3>{{{date}}}</h3>
            <ul>
                {{#each this.changes}}
                    <li>{{{this}}}</li>
                {{/each}}
            </ul>
        {{/each}}

        <a href="/info/changes">Full change log</a>

        <h2>About / Licenses</h2>

        <p>
            Cards Against Equestria is a <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>
            clone.<br/>
            Cards Against Humanity is a trademark of Cards Against Humanity LLC. Cards Against Humanity LLC does not
            endorse or sponsor this clone.
        </p>
        <p>
            <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a> is available under a
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license</a>.
        </p>

        <p>
            Cards Against Equestria is licensed under a
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license</a>
            and was written by <a href="/info/about">Rylius</a>.
            Source code is available on <a href="https://github.com/Rylius/CardsAgainstEquestria">GitHub</a>.
        </p>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $.ajaxSetup({cache: false});

            {{#if user}}
                $(window).bind('beforeunload', function () {
                    interruptChatListen();
                });

                var chat = initChat({id: {{user.id}}, name: '{{user.name}}'}, $('#chat-global').find('> ul'));
                ko.applyBindings(chat);
            {{/if}}

            var $name = $('#name');
            $name.val($.cookie('name'));
            $('#login').on('submit', function () {
                $.cookie('name', $name.val());
            });
        </script>
    {{/append}}

    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
