{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <noscript>
            <h2 class="has-error">
                JavaScript required
            </h2>

            <p class="has-error">
                JavaScript has to be enabled to play this game.
            </p>
        </noscript>

        {{#if motd}}
            <div class="alert alert-info">
                {{{motd}}}
            </div>
        {{/if}}

        <div class="row">
            <div class="col-xs-6">

                {{#if user}}
                    <a href="/game/create">
                        <h2 class="button-play">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Create
                        </h2>
                    </a>
                {{/if}}

                <a href="/games">
                    <h2 class="button-play">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;Play!
                    </h2>
                </a>

                {{#unless user}}
                    <h2>Log in</h2>

                    <p>
                        You will not be able to play without logging in.<br/>
                        Logging in is free and painless - just select a name!
                    </p>

                    <form autocomplete="on" method="post" id="login" action="/user/login" class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus>
                        </div>

                        <div class="form-group" {{#unless loginFailed}}style="display: none;"{{/unless}}>
                            <label class="sr-only" for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">
                        </div>

                        <input type="hidden" id="redirect" name="redirect" value="{{{loginRedirect}}}">

                        <input type="submit" value="Log in">
                    </form>
                {{/unless}}

                <h2>Changes</h2>
                {{#each changes}}
                    <h3>{{{date}}}</h3>
                    <ul>
                        {{#each this.changes}}
                            <li>{{{this}}}</li>
                        {{/each}}
                    </ul>
                {{/each}}

                <a href="/info/changes">Full change log</a>

            </div>

            <div class="col-xs-6">

                {{#each valentine.cards}}
                    <div class="valentine-card">
                        {{{this}}}

                        {{> watermarkIcon}}

                        <div class="watermark">
                            <a href="/info/cards?expansion={{../valentine.deckId}}">Shipping&nbsp;<span
                                    class="icon-heart"></span></a>
                        </div>
                    </div>
                {{/each}}
                <div class="clearfix"></div>

            </div>
        </div>

        <h2>About / Licenses</h2>

        <p>
            Cards Against Equestria is a <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>
            clone.<br/>
            Cards Against Humanity is a trademark of Cards Against Humanity LLC. Cards Against Humanity LLC does not
            endorse or sponsor this clone.
        </p>
        <p>
            <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a> is available under a
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license</a>.
        </p>

        <p>
            Cards Against Equestria is licensed under a
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license</a>
            and was written by <a href="/info/about">Rylius</a>.
            Source code is available on <a href="https://github.com/Rylius/CardsAgainstEquestria">GitHub</a>.
        </p>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $.ajaxSetup({cache: false});

                {{#if user}}
                $(window).bind('beforeunload', function () {
                    interruptChatListen();
                });

                var $globalChat = $('#chat-global');
                var chat = initChat({
                    id: {{user.id}},
                    name: '{{user.name}}'
                }, $globalChat.find('> .history'), $globalChat.find('input[type="text"]'));
                ko.applyBindings(chat);
                {{/if}}

            var $name = $('#name');
            $name.val($.cookie('name'));
            $('#login').on('submit', function () {
                saveName($name.val());
            });
        </script>
    {{/append}}

    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
