{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <!-- ko with: game -->

        <h1 data-bind="text: name"></h1>

        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            <strong>
                                Players (<span data-bind="text: players().length"></span>/<span
                                    data-bind="text: playerLimit"></span>):
                            </strong>

                            <span data-bind="html: formatPlayers"></span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <p class="col-xs-12">
                        <strong>Goal:</strong>

                        <span data-bind="text: scoreLimit"></span>
                    </p>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <strong>Sets:</strong>

                        <span data-bind="html: model.formatSets"></span>
                    </div>
                </div>

                <div class="row">
                    <p class="col-xs-12">
                        <strong>Expansions:</strong>

                        <span data-bind="html: model.formatExpansions"></span>
                    </p>
                </div>

            </div>
        </div>

        <!-- /ko -->

        {{#unless user}}
            <!-- ko if: game().players().length < game().playerLimit() && !loggedIn() -->
            <div class="row">
                <div class="col-xs-6 form-inline">
                    <div class="form-group">
                        <label for="name" class="sr-only">Your name:</label>
                        <input type="text" maxlength="24" id="name" placeholder="Name" class="form-control"
                               data-bind="value: name, valueUpdate: 'afterkeydown', returnAction: join, hasFocus: true, disable: loading">
                    </div>

                    <div class="form-group">
                        <label for="userPassword" class="sr-only">Your password:</label>
                        <input type="password" maxlength="64" id="userPassword" placeholder="Password" class="form-control"
                               data-bind="value: userPassword, valueUpdate: 'afterkeydown', returnAction: join, disable: loading">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <span class="help-block">
                        Password is only required if you registered your name.
                    </span>
                </div>
            </div>
            <!-- /ko -->
        {{/unless}}

        <!-- ko if: game().passworded -->
        <div class="row">
            <div class="col-xs-4">
                <label for="password" class="sr-only">Game password:</label>
                <input type="password" id="password" placeholder="Game password" class="form-control"
                       data-bind="value: password, valueUpdate: 'afterkeydown', returnAction: join, disable: loading">
            </div>
        </div>
        <br/>
        <!-- /ko -->

        <div class="row">
            <p class="col-xs-4">
                <button data-bind="enable: name() && game().players().length < game().playerLimit() && !loading(), click: join">
                    Join game
                </button>

                <span data-bind="text: message, css: { 'has-error': error }"></span>
            </p>
        </div>

        {{#unless user}}
            <h2>What is this?</h2>

            <div class="row">
                <div class="col-xs-12 todo">
                    game explanation and help links
                </div>
            </div>

            <br/>
        {{/unless}}
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
                $.ajaxSetup({cache: false});

                {{#if user}}
                    $(window).bind('beforeunload', function () {
                        interruptChatListen();
                    });

                    var $globalChat = $('#chat-global');
                    initChat({id: {{user.id}}, name: '{{user.name}}'}, $globalChat.find('> .history'), $globalChat.find('input[type="text"]'));
                {{/if}}

                model = {};
                model = new JoinGameViewModel({{{sets}}});
                ko.applyBindings(model);

                model.game(new GameViewModel().fromJson({{{gameJson}}}));

                {{#if user}}
                    model.name('{{{user.name}}}');
                    model.loggedIn(true);
                {{/if}}

                if (model.game().players().length >= model.game().playerLimit()) {
                    model.message('Game is full');
                    model.error(true);
                }
            });
        </script>
    {{/append}}

    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
