{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <div class="row">
            <div class="col-xs-1">
                <button data-bind="click: loadGames, disable: loading" class="btn btn-primary">
                    Refresh
                </button>
            </div>

            <div class="col-xs-11" data-bind="if: loading">
                {{ajaxLoader}}
                Loading list...
            </div>

            <div class="col-xs-11" data-bind="if: !loading()">
                <span class="todo">filters/sorting</span>
            </div>
        </div>

        <div data-bind="if: games().length == 0 && !loading()">
            <p>
                No games found! <a href="/game/create">Start one?</a>
            </p>
        </div>

        <div class="row">
            <div class="col-xs-6 game-list" data-bind="foreach: games">
                <div class="game">
                    <div class="left">

                        <div class="row">
                            <div class="col-xs-12">
                                <h4 data-bind="text: title"></h4>

                                <p>
                                    <strong>Players:</strong>

                                    <span data-bind="html: formatPlayers"></span>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <strong>Sets:</strong>

                                <span data-bind="html: formatSets"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <strong>Expansions:</strong>

                                <span data-bind="html: formatExpansions"></span>
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="join">
                            <div class="state">
                                <h4 data-bind="text: stateText"></h4>
                            </div>

                            <div class="button">
                                {{#if user}}
                                    <button data-bind="enable: !full() && !$root.loading() && (!passworded() || password()), click: function () { $root.join($data); }"
                                            class="btn btn-primary">
                                        Join
                                    </button>
                                {{else}}
                                    <a data-bind="enable: !full() && !$root.loading(), attr: { href: '/game/join/' + id() }"
                                       href="#" class="btn btn-primary">
                                        Join
                                    </a>
                                {{/if}}
                            </div>
                        </div>

                        <!-- ko if: passworded -->
                        <div class="password-form">
                            <div>
                                <label>
                                    <span class="glyphicon glyphicon-lock"></span>
                                </label>

                                {{#if user}}
                                    <div>
                                        <input type="password" id="password"
                                               data-bind="value: password, valueUpdate: 'afterkeydown', returnAction: function () { $root.join($data); }, disable: $root.loading">
                                    </div>
                                {{else}}
                                    <div>
                                        <input type="text" id="password" disabled value="Password required">
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <!-- /ko -->

                        <!-- ko if: message -->
                        <div class="game-message">
                            <div data-bind="text: message"></div>
                        </div>
                        <!-- /ko -->
                    </div>

                </div>
            </div>
        </div>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
                $.ajaxSetup({cache: false});

                {{#if user}}
                    $(window).bind('beforeunload', function () {
                        interruptChatListen();
                    });

                    var $globalChat = $('#chat-global');
                    initChat({id: {{user.id}}, name: '{{user.name}}'}, $globalChat.find('> .history'), $globalChat.find('input[type="text"]'));
                {{/if}}

                model = new GameListViewModel({{{sets}}});
                ko.applyBindings(model);

                model.loadGames();
            });
        </script>
    {{/append}}

    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
